@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  font-family: Arial, sans-serif;
  color: #333;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}
/* Reset CSS end*/

/*======================================================*/
body {
  font-family: Montserrat;
  font-weight: 600;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
}
.tabs {
  text-align: right;
}
.tabs {
  &__button {
    padding: 20px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color: #aeaeae;
    transition: 0.2s;
    &:hover {
      transition: 0.2s;
      color: #000;
    }
    &.active {
      color: rgb(211, 35, 0);
    }
    &:not(:first-child) {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 50%;
        width: 1px;
        background-color: rgb(169, 169, 169);
      }
    }
  }
}
.tab-content {
  border: 2px solid #aeaeae;
  border-radius: 5px;
  padding: 20px;
  height: 300px;
  display: flex;
  align-items: center;
  &__text,
  &__cards {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
  }

  &__text {
    opacity: 0;
    display: none;
  }
  &__cards {
  }
}
.cards {
  &__form {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    & span {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #333;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
      }
    }
    label {
      opacity: 0.5;
      transition: 0.2s;
    }
    & label.checked {
      opacity: 1;
      transition: 0.2s;
    }
  }

  &__card {
    &_merriweather,
    &_roboto,
    &_notosans {
      display: flex;
      justify-content: space-between;
      hyphens: auto;
      cursor: pointer;
      transition: 0.3s;
      & input {
        margin-bottom: 50px;
        visibility: hidden;
        position: relative;
      }
      & h2 {
        width: 70%;
        line-height: 150%;
      }
    }

    &_merriweather {
      height: 100%;
      flex-direction: column;
      grid-row: 1/7;
      grid-column: 1;
      align-items: center;
      position: relative;
      justify-content: space-evenly;
      &::before {
        content: "";
        position: absolute;
        left: 16px;
        top: 0;
        width: 140px;
        height: 140px;
        border: 2px solid #000;
        border-radius: 15px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 23px;
        top: 7px;
        width: 130px;
        height: 130px;
        border-radius: 10px;
        background-color: rgb(3, 148, 44);
      }
    }

    &_roboto,
    &_notosans {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -50px;
        width: 80px;
        height: 80px;
        border: 2px solid #000;
        border-radius: 10px;
      }
      &::after {
        content: "";
        position: absolute;
        left: -44px;
        top: 6px;
        width: 71px;
        height: 71px;
        border-radius: 5px;
      }
      & input {
        width: 30%;
      }
    }

    &_roboto {
      grid-row: 1/4;
      grid-column: 3;
      &::after {
        background-color: rgb(222, 83, 106);
      }
    }

    &_notosans {
      grid-column: 3;
      grid-row: 4/7;
      &::after {
        background-color: rgb(16, 56, 112);
      }
    }
  }
}
